{% extends 'base.html' %}
{% block title %} {{article.title}} {% endblock %}

    {%block content %}
    <div class="article-container main_page">
        {% if messages %}
        <div class="message-m">
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h1>{{ article.title }}</h1>
        <img src="{{ article.image.url }}" alt="Article Image">
        <p>Written by: {{ article.author }}</p>
        <div class="content">
            <p>{{ article.text }}</p>
        </div>
        <div class="footer">
            <a href="{% url 'blogs:articles-update' article.pk %}">Edit</a><br>
        </div>
        <div class="footer">
            <a href="{% url 'blogs:articles-add' %}">Add</a>
        </div>
        <div class="footer">
            <a href="{% url 'blogs:category-list' %}">Back to Categories</a>
        </div>
        <div class="interaction-buttons">
            <form action="{% url 'blogs:articles-like' pk=article.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Like</button>
            </form>
            <form action="{% url 'blogs:articles-watch-later' article.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Watch Later</button>
            </form>
        </div>
    </div>
    {% endblock %}
