{% extends 'base.html' %}

{% block title %}Liked Articles{% endblock %}

{% block content %}
    {% if liked_articles %}
        <div class="cards">
            {% for article in liked_articles %}
                <div class="card">
                    <img src="{{ article.image.url }}" alt="Not found" class="card-img">
                    <h2>{{article.title}}</h2>
                    <h4>Author:{{article.author}}</h4>
                    <div class="star-rating" data-rating="{{ article.star_given }}">
                        <span class="stars"></span>
                    </div>
                    <a href="{% url 'blogs:articles-detail' article.pk %}"><button>Read More</button></a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No liked articles.</p>
    {% endif %}
{% endblock %}
