{% extends 'base.html' %}

{% block title %}Watch Later Articles{% endblock %}

{% block content %}
    <h1>Watch Later Articles</h1>
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'blogs:articles-detail' article.pk %}">{{ article.title }}</a>
                    by {{ article.author.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No article to wath later.</p>
    {% endif %}
{% endblock %}

